data/
cifar100_resnet18_32x32_base_e100_lr0.1_default
cifar-10-python.tar.gz
cifar-100-python.tar.gz
cifar100_res18_v1.5.zip
Users/
cifar10_res18_v1.5.zip
cifar10_resnet18_32x32_base_e100_lr0.1_default
__init__.py
model_cifar.ipynb